 /* Services */
 .service {
    height: 100%;
    text-align: center;
}
.service .service_title {
    font-size: 16px;
    font-weight: 500;
    line-height: 35px;
    text-align: center;
}
.service .service_description {
    color:#989898 !important ;
    border-color: var(--main-color) !important;
    margin-left: 5px;
    text-align: center;
}
.service_icon > .MuiSvgIcon-root{
   font-size: 46px !important;
   margin-left: 0 !important;
   font-weight: 300 !important;
   color: black !important;
}